body {
    background-color: dodgerblue;
}

#main {
    background-color: white;
    width: 800;
    height: 7200;
    margin: auto;
}

img {
    width: 600;
    height: 300;
}

.code {
    background-color: black;
    color: beige;
    height: 100;
    width: 300;
}
